In [16]:
import pandas as pd 
import numpy as np

file1_df = pd.read_csv('budget_data_1.csv')
file1_df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [8]:
total_month = file1_df['Date'].count()
total_month

41

In [53]:
total_rev_num = file1_df['Revenue'].sum()
total_rev='${:,.2f}'.format(total_rev_num)
total_rev

'$18,971,412.00'

In [54]:
avg_change = total_rev_num/total_month
avg_change_num = '${:,.2f}'.format(avg_change)
avg_change_num

'$462,717.37'

In [57]:
max_val = file1_df['Revenue'].max()
max_index = file1_df[file1_df['Revenue'] == max_val].index[0]
max_date = file1_df['Date'].loc[max_index]
max_val_num = '${:,.2f}'.format(max_val)
max_date

'Sep-15'

In [59]:
min_val = file1_df['Revenue'].min()
min_index = file1_df[file1_df['Revenue'] == min_val].index[0]
min_date = file1_df['Date'].loc[min_index]
min_val_num = '${:,.2f}'.format(min_val)
min_date

'Aug-14'

In [61]:
print('Financial Analysis')
print('----------------------------')
print('Total Months: '+str(total_month))
print('Total Revenue: '+(total_rev))
print('Average Revenue Change: '+ avg_change_num)
print('Greatest Increase in Revenue: '+ max_date+' ('+max_val_num+')')
print('Greatest Decrease in Revenue: '+ min_date+' ('+min_val_num+')')

Financial Analysis
----------------------------
Total Months: 41
Total Revenue: $18,971,412.00
Average Revenue Change: $462,717.37
Greatest Increase in Revenue: Sep-15 ($1,195,111.00)
Greatest Decrease in Revenue: Aug-14 ($-1,172,384.00)